# Python
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.coverage
htmlcov/
.tox/
build/
dist/
*.egg-info/

# Environments
.env
.venv
env/
venv/
ENV/

# VS Code
.vscode/

# Data and Models
data/*
!data/.gitkeep
indexes/*
!indexes/.gitkeep
corpus/*
!corpus/.gitkeep

# Ignore SQLite DBs
*.sqlite
*.db

# OS specific
.DS_Store
Thumbs.db
